$swatch-1: #231D25;
$swatch-2: #4f2654;
$swatch-3: #8A429E;
$swatch-4: #DED8CE;
$swatch-5: #60c34d;
$swatch-6: #f8f6f2;

$primary: $swatch-2;
$secondary: $swatch-4;
$accent: $swatch-5;
$dark: $swatch-1;
$light: $swatch-6;