$swatch-1: #231D25;
$swatch-2: #4f2654;
$swatch-3: #713681;
$swatch-3: #281d2c;
$swatch-4: #DED8CE;
$swatch-5: #7fae6f;
//$swatch-5: #99B763;
$swatch-6: #f8f6f2;

$primary: $swatch-3;
$secondary: $swatch-4;
$accent: $swatch-5;
$dark: $swatch-1;
$light: $swatch-6;