header {
    //padding-top: 50%;
    margin-top: 56px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    .mask {
        background-color: rgba(79, 38, 84, .5);
        //    background-color: rgba(146, 44, 179, .62);
        padding-bottom: 17%;
    }

    .header-socials {
        font-size: 2rem;
        color: $light;
    }

    h1 {
        font-size: 4rem;
        padding-top: 17%;
        color: $light;
       
        @media (min-width: map-get($grid-breakpoints, "md")) {
            font-size: 8rem;
        }

        span {
            font-size: 2rem;

            @media (min-width: map-get($grid-breakpoints, "md")) {
                font-size: 4rem;
            }
        }
    }

    @media (min-width: map-get($grid-breakpoints, "md")) {
        margin-top: 0;
    }
}