.navbar-custom {
    //background-color: rgba(94, 45, 117, 1);
        background-color: $primary;

    .navbar-brand {
        font-family: "Afacad Flux", sans-serif;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        font-weight: 700;

        @media (min-width: map-get($grid-breakpoints, "lg")) {
            display: none;
        }
    }

    .navbar-collapse {
        @media (min-width: map-get($grid-breakpoints, "md")) {
            justify-content: center;
        }
    }

    .nav-link {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.2rem;
            font-weight: 300;
        color: white;
    }

    .nav-socials {
        @media (min-width: map-get($grid-breakpoints, "lg")) {
            display: none;
        }
    }
}